web:
  build: .
  dockerfile: Dockerfile.web
  command: bin/start_web
  ports:
    - "3000:80"
  links:
    - mongo
    - redis
  environment:
    - PASSENGER_APP_ENV=development
    - RAILS_ENV=development
    - REDIS_HOST=redis
  volumes:
    - ./app:/home/app/webapp/app
    - ./lib:/home/app/webapp/lib
    - ./log:/home/app/webapp/log
    - ./config:/home/app/webapp/config
    - ./spec:/home/app/webapp/spec
worker:
  build: .
  dockerfile: Dockerfile.web
  command: bundle exec sidekiq
  links:
    - mongo
    - redis
  environment:
    - RAILS_ENV=production
  volumes:
    - ./config:/home/app/config
mongo:
  image: mongo:3.2.4
redis:
  image: redis:3.0.7
