web:
  build: .
  dockerfile: Dockerfile.web
  ports:
    - "3000:80"
  links:
    - mongo
    - redis
  environment:
    - PASSENGER_APP_ENV=development
    - REDIS_HOST=redis
# proxy:
#   image: jwilder/nginx-proxy:latest
#   ports:
#     - "80:80"
#   volumes:
#     - "/var/run/docker.sock:/tmp/docker.sock"
# worker:
#   build: .
#   command: bundle exec sidekiq
#   links:
#     - mongo
#     - redis
#   environment:
#     RAILS_ENV: development
mongo:
  image: mongo:3.2.4
redis:
  image: redis:3.0.7
